*/**/debug.test
cmd/uploadService/uploadService
*/**/debug
.vscode/**
cmd/statusProviderService/statusProviderService
cmd/managerService/managerService
cmd/cmdWorkerService/cmdWorkerService
cmd/test/**
cmd/uploadService/data/**
internal/pkg/test/mocks/mock_*.*
internal/pkg/test/mocks/matchers/**
internal/pkg/test/mocks/**
cmd/informService/config.yaml
internal/pkg/test/mocks1/**
cmd/informService/informService
cmd/resultService/**
go.sum
.idea/**
cmd/kafkaIntegrationService/kafkaIntegrationService
cmd/tmp/**
cmd/uploadService/config.yaml
internal/pkg/tensorflow/**
internal/pkg/tensorflow_serving/**
cmd/cleanService/config.yaml
cmd/cleanService/cleanService
