*/**/debug.test
cmd/uploadService/uploadService
*/**/debug
.vscode/**
cmd/statusProviderService/statusProviderService
cmd/managerService/managerService
cmd/cmdWorkerService/cmdWorkerService
cmd/test/**
cmd/uploadService/data/**
internal/pkg/test/mocks/mock_*.*
internal/pkg/test/mocks/matchers/**
internal/pkg/test/mocks/**
cmd/informService/config.yaml
internal/pkg/test/mocks1/**
cmd/informService/informService
cmd/resultService/**
go.sum
.idea/**
cmd/kafkaIntegrationService/kafkaIntegrationService
