*/**/debug.test
cmd/uploadService/uploadService
*/**/debug
.vscode/**
cmd/statusProviderService/statusProviderService
cmd/managerService/managerService
cmd/cmdWorkerService/cmdWorkerService
cmd/test/**
cmd/uploadService/data/**
internal/pkg/test/mocks/mock_*.*
internal/pkg/test/mocks/matchers/**
